.nav {
  background-color: #fea82d;
  box-shadow: 0 0.2rem 0.8rem #333;
}

.nav__items {
  padding: 1rem;
  display: flex;
}

.nav__item {
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.nav__item--link {
  font-size: 2.5rem;
  padding-top: 0.5rem;
}

ion-icon[name="arrow-back-circle"] {
  color: #333;
  transition: all 0.1s;
}
ion-icon[name="arrow-back-circle"]:hover {
  transform: translateX(-4px) scale(1.1);
}

.nav__item--logo {
  padding-top: 1rem;
}

.nav__logo {
  width: 50%;
}

@media only screen and (max-width: 400px) {
  .nav__logo {
    padding-top: 0.5rem;
    width: 60%;
  }
}

@media only screen and (min-width: 991px) {
  .nav__item--link {
    font-size: 4rem;
    padding-top: 0.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .nav__item--link {
    font-size: 4rem;
    padding-top: 0.5rem;
  }
  .nav__logo {
    padding-top: 1rem;
  }
}
