.section__timer {
  text-align: center;
}

.timer-circle {
  position: relative;
  height: 20vh;
  width: 20vh;
  background-color: #fea82d;
  display: inline-block;
  border-radius: 10rem;
}

.timer-value {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  line-height: 3rem;
}

.timer-value span {
  font-size: 2rem;
  font-weight: 400;
}

@media only screen and (min-width: 1920px) {
  .timer-circle {
    border-radius: 20rem;
  }
  .timer-value {
    font-size: 6rem;
  }
}
